html, body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  background-color: #1a1a2e;
  color: white;
}


body {
  font-family: 'Trebuchet MS', Arial, sans-serif;
  background-color: #1a1a2e ;
  color: white;
  margin: 0;
  padding: 10px;
  font-size: 20 px;
}

.App {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  line-height: 0.99 ;
  margin-bottom: -12.0px;
  font-size: 40px;
}

form div {
  margin-bottom: 3px;
}

p {
  font-size: 25px;
  margin-bottom: 14px;
  margin-top: 25px;
}

input, select {
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #444;
  background-color: #2a2a4a;
  color: white;
  font-size: 14px;
}

button {
  padding: 10px 25px;
  border-radius: 8px;
  border: none;
  background-color: #7600bc;
  color: white;
  font-size: 12px;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background-color: #9333d9;
}

h2 {
  margin-top: 30px;
  color: #9333d9;
}

.result-section p {
  font-size: 18.5px;
  margin-bottom: 1.1px;
}

.hero-image {
  width: 100%;
  max-width: 200px;
  border-radius: 10px;
  margin-bottom: 3px;
}